{% extends 'base.html' %}

{% block title %}
    {{ tittle }}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="p-5 flex-column container-md d-flex align-items-center">
        <a class="navbar-brand" href="#">Куртки кожанные</a>
        <a class="navbar-brand" href="#">Пальто</a>
        <a class="navbar-brand" href="#">Бомберы</a>
        <a class="navbar-brand" href="#">Дождевики</a>
        <a class="navbar-brand" href="#">Куртки осенние</a>
        <a class="navbar-brand" href="#">Куртки зимние</a>
      </div>
    </nav>
{% endblock %}